<p style="margin-top: 5%; margin-left: 40px; margin-right: 40px;">
  <mat-toolbar style="padding: 10px; height: max-content; background: none !important;">
    <span style="margin: auto; text-align: center;">
      About The Website
    </span>
  </mat-toolbar>
  <br><br>
  This application is made to fulfill the final project requirement for graduation. This application uses AHP-PROMETHEE II method to calculate supplier recommendation. This application also uses Linear Programming to calculate optimization order.
  <br><br>
  Arranged by: <br>
  Abigail Vania <br>
  Computer Science and Mathematics <br>
  2101637005 <br><br><br>
  Powered by: <br>
  Siti Komsiyah, S.Si, M.Si <br>
  Azani Cempaka Sari, S.Kom, M.T.I
</p>
