.solution{
  text-align: center;
}
.loginForm{
  text-align: center;
  margin: 50px;
  /* background-color: #D9D9D9; */
  padding: 0px 0px 50px 0px;
}
.theForm{
  text-align: left;
  margin-left: 45%;
}
h1{
  text-align: center;
  padding: 20px;
  font-weight: bold;
}
button{
  margin:10px;
}
.errorMessage
{
  color: red;
}
