<div class="changePasswordForm">
  <p>
    <mat-toolbar style="background: none !important;">
      <span style="margin: auto;">Change Password</span>
    </mat-toolbar>
  </p>
  <mat-card>
    <div class="theForm">
      <form name="form" [formGroup]="forms" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-label> New Password</mat-label>
          <input
            matInput
            formControlName="password"
            [type]="hide ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-hint align="end">Min 6 characters</mat-hint>
          <mat-error
            *ngIf="
              submitted &&
              f.password?.invalid &&
              f.password?.errors?.required
            "
          >
            New Password is required
          </mat-error>
          <mat-error
            *ngIf="
              submitted &&
              f.password?.invalid &&
              f.password?.errors?.minlength
            "
          >
            New Password at least 6 characters
          </mat-error>

        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Confirmation New Password</mat-label>
          <input
            matInput
            formControlName="confpassword"
            [type]="hideConfirm ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hideConfirm = !hideConfirm"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hideConfirm"
          >
            <mat-icon>{{ hideConfirm ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-hint align="end">Min 6 characters</mat-hint>
          <mat-error
            *ngIf="
              submitted &&
              f.confpassword?.invalid &&
              f.confpassword?.errors?.required
            "
          >
            Confirmation New Password is required
          </mat-error>
          <mat-error
            *ngIf="
              submitted &&
              f.confpassword?.invalid &&
              f.confpassword?.errors?.minlength
            "
          >
          Confirmation New Password at least 6 characters
          </mat-error>

        </mat-form-field>
        <div class="errorMessage" *ngIf="wrongInput && submitted"
        >
          Your New Password and Confirmation New Password are not same
        </div>
        <br /><br />
        <button mat-raised-button color="primary" *ngIf="!process">Update Password</button>
        <button mat-raised-button color="primary" *ngIf="process"><mat-icon><mat-spinner color="accent" diameter="20">
        </mat-spinner></mat-icon></button>
      </form>
    </div>
  </mat-card>
</div>
