<div *ngIf="!checkLogin">
  <nav mat-tab-nav-bar mat-align-tabs="center">
    <a
      mat-tab-link
      (click)="goToHome(); activeLink = '/home'"
      [active]="activeLink == '/home'"
    >
      Home
    </a>
    <a
      mat-tab-link
      (click)="goToSubcriteria(); activeLink = '/subcriteria'"
      [active]="activeLink == '/subcriteria'"
    >
      Subcriteria
    </a>
    <a
      mat-tab-link
      (click)="goToSupplier(); activeLink = '/supplier'"
      [active]="activeLink == '/supplier'"
    >
      Supplier
    </a>
    <a
      mat-tab-link
      (click)="goToSupplierRecommendation(); activeLink = '/supplierrecommendation'"
      [active]="activeLink == '/supplierrecommendation'"
    >
      Supplier Recommendation Calculation
    </a>
    <a
      mat-tab-link
      (click)="goToAlokasiPemesanan(); activeLink = '/optimization'"
      [active]="activeLink == '/optimization'"
    >
      Order Optimization
    </a>
    <a
      mat-tab-link
      (click)="goToAbout(); activeLink = '/about'"
      [active]="activeLink == '/about'"
    >
      About
    </a>
    <a
      mat-tab-link [matMenuTriggerFor]="account" [active]="activeLink == '/updatePassword'">
        Account
      <mat-menu #account="matMenu">
        <button mat-menu-item disabled> <mat-icon>account_circle</mat-icon>{{name}}</button>
        <button mat-menu-item (click)="goToUpdatePassword()">Change Password</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </a>
  </nav>
</div>

<div>
  <router-outlet></router-outlet>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>

<div class="footer">
  <p> &copy; Abigail Vania</p>
</div>
